{{#each result}}
<div class="post">
<h2>{{title}}</h2>
<p>{{content}}</p>
<small>post by {{username}}</small>
<br>
<a href='/post/{{this.id}}/edit'>Edit Post</a>
<a href='/post/{{this.id}}/delete'>Delete Post</a>
<a href='/post/{{this.id}}/comment'>Comments</a>
</div>

{{/each}}
